* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    vertical-align: top;
}

.color-white{
    color: white;
}

.text-center{
    text-align: center;
}

/* ******************HEADER******************* */
header{
    font-family: 'Oswald';
}

/* **** NAVBAR **** */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar *{
    margin: 1em 0.5em;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 0 1em;
    list-style-type: none;
}

header a{
    text-decoration: none;
}
/* ****FIGURE**** */
header .background-image{
    width: 100%;
}

header figure{
    display: flex;
    position: relative;
}

header figure .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


blockquote{
    background-color: #c59d5f;
    font-size: 3em;
    font-family: 'Oswald';
    text-align: justify;
}

blockquote p{
    padding:2em 1em;
    text-align: center;
}

/* ******************MAIN******************* */

.container{
    font-family:  'Raleway';
    display: flex;
}

.container article{
    /* height: 600px; */
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 50%;
}

.container .figures{
    width: 50%;
    height: 50%;
    position: relative;
}

.container .figures figure{
    position: absolute;
    max-width: 100%;
}

.container .figures figure img{
    max-width: 100%;
}

