* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    vertical-align: top;
}

.color-white{
    color: white;
}

.text-center{
    text-align: center;
}

/* ******************HEADER******************* */
header{
    font-family: 'Oswald';
}

/* **** NAVBAR **** */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar *{
    margin: 1em 0.5em;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 0 1em;
    list-style-type: none;
}

header a{
    text-decoration: none;
}
/* ****FIGURE**** */
header .background-image{
    width: 100%;
}

header figure{
    display: flex;
    position: relative;
}

header figure .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


blockquote{
    background-color: #c59d5f;
    font-size: 3em;
    font-family: 'Oswald';
    text-align: justify;
}

blockquote p{
    padding:2em 1em;
    text-align: center;
}

/* ******************MAIN******************* */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.grid .figure1{
    background-image: url('media/img/h5-el-holder-img-1-1.jpg');
}

.grid .figure2{
    background-image: url('media/img/h5-el-holder-img-2.jpg');
}


.element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid figure{
    margin: 0;
    background-size: cover;
    background-position: center;
}
