:root{
    --white: #ffffff;
    --golden :#c59d5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

img{
    vertical-align: top;
}

h2{
    font-size: 2em;
}

.color-white{
    color: var(--white);
}

.bg-golden{
    background-color: var(--golden);
}



/* ******************HEADER******************* */
header{
    font-family: 'Oswald';
}

/* **** NAVBAR **** */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.navbar *{
    margin: 1em 0.5em;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 0 1em;
    list-style-type: none;
}

header a{
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    transform: scale(1.2);
    text-decoration: underline;
}
/* ****FIGURE**** */
header .background-image{
    width: 100%;
}

header figure{
    display: flex;
    position: relative;
}

header figure .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* ******************MAIN******************* */

/* ****QUOTE**** */

blockquote{
    font-size: 2em;
    text-align: justify;
}

blockquote p{
    padding:2em 1em;
    font-family: 'Oswald';
    text-align: center;
}

/* ***GRID*** */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.grid .element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 4em;
}

.grid .element>div>p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.grid figure{
    margin: 0;
    background-size: cover;
    background-position: center;
}

.grid .figure1{
    background-image: url('media/img/h5-el-holder-img-1-1.jpg');
}

.grid .figure2{
    background-image: url('media/img/h5-el-holder-img-2.jpg');
}

.grid .element .button{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* ***GALERIE SECTION*** */

.container-img{
    display: flex;
    width: 100%;
}

.container-img figure img {
    width: 100%; 
}


.container-img figure{
    position: relative;
}

/* *OVERLAY* */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay a{
    position: absolute;
    font-size: 3em;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-img figure:hover .overlay {
    opacity: 0.8; /* Rend l'overlay visible avec transparence au survol */
}

/* **SERVICE SECTION** */
.container-service{
    display: flex;
    width: 100%;
    text-align: center;
}

.container-service div{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center
}

.container-service div figure{
    margin: 1em;
}

.container-service div figure:hover + .subtitle{
    color: #c59d5f;
}

.container-service figure{
    width: 100px;
    padding: 0;
    border-radius: 50%;
}

.container-service div img:hover{
    mix-blend-mode: multiply;
}

/* ***PARALLAX SECTION*** */

.container-parallax{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.parallax-img{
    position: absolute;
    height: 150%;
    width: 100%;
    background-image: url('media/img/h5-parallax-img-2.jpg');
    background-size: cover;
    background-position: center; 
    transform: translateY(-20%); 
}

.content {
    position: relative;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
}

.content p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.container-parallax .parallax-img {
    transition: transform 0.3s ease-out;
}

.container-parallax:hover .parallax-img {
    transform: translateY(0); 
}

/* ***GOOGLE SECTION*** */
.container-google{
    position : relative;
}
.container-google .container-iframe{
    pointer-events: none; 
    filter: grayscale(100%) invert(1);
}

.container-google figure{
    position : absolute;
    top:50%;
    left:50%;
}

/* ******FOOTER******* */

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
footer figure{
    margin: 2em;
}